.feedback
  a(href='/').backlink 
    i.fa.fa-long-arrow-left(aria-hidden='true')  
    |  Back to Dashboard
  h2 
    i.guarantor
    |  Feedback
  div(ng-repeat='property in getProperties()') 
    h3(ng-hide='property.error || property.loading') {{property.Address.Number}} {{property.Address.Street }}, {{property.Address.Locality }}, {{property.Address.Town}}
    h3(ng-show='property.error') Error fetching property details
    h3(ng-show='property.loading') Fetching property details
    p(ng-show='loading("viewings") && !property.viewings.length') Loading Feedback
    p(ng-show='!loading("viewings") && !property.viewings.length') No Feedback
    table(ng-show='property.viewings.length').table.table-responsive
      thead
        tr
          th(ng-click='setSort("MainContact.sortname")', ng-class='getSortClass("MainContact.sortname")') Main contact
          th(ng-click='setSort("date")', ng-class='getSortClass("date")') Date
          th(ng-click='setSort("date")', ng-class='getSortClass("date")') Time
          th Accompanied by
          th.squish(ng-click='setSort("Feedback.length")', ng-class='getSortClass("Feedback.length")') Feedback status
      tbody(ng-repeat='viewing in property.viewings | orderBy: sort') 
        tr(ng-click='toggle(viewing)', ng-class='{open:viewing.open, "has-feedback":viewing.Feedback.length}')
          td
            .person
              img(gravatar-src='viewing.MainContact.email') 
              span {{viewing.MainContact.name}}
          td 
            nobr {{viewing.StartDate | date:'mediumDate'}}
          td 
            nobr {{viewing.StartDate | date:'shortTime'}}
          td
            .person(ng-repeat='person in viewing.Negotiators') 
              img(gravatar-src='person.PrimaryEmail.Value') 
              span {{person.ContactName}}
            .person(ng-repeat='person in viewing.AccompaniedBy')  
              img(gravatar-src='person.email') 
              span {{person.name}}
          td.status.squish 
            div(ng-show='viewing.Feedback.length')
              div(ng-hide='viewing.open') View Feedback
              div(ng-show='viewing.open') Close Feedback
            div(ng-hide='viewing.Feedback.length') Feedback not yet taken
        tr.popout(ng-show='viewing.open')
          td(colspan='5')
            .feedback-header
              .feedback-title 
                h4 Viewing Feedback
            .feedback-list
              .feedback-item(ng-repeat='feedback in viewing.Feedback')
                h6 {{feedback.DateTime | date:'mediumDate'}}, {{feedback.DateTime | date:'shortTime'}}
                p {{feedback.Feedback}}
  h3(ng-show='!loading("properties") && !getProperties().length') No properties to show