.feedback
  a(href='/').backlink 
    i.fa.fa-long-arrow-left(aria-hidden='true')  
    |  Back to Dashboard
  h2 
    i.guarantor
    |  Feedback
  div.prop-single(ng-repeat='property in getProperties()' ng-hide='!property.details.Address') 
    h3(ng-hide='property.error || property.loading') {{property.Address.Number}} {{property.Address.Street }}, {{property.Address.Locality }}, {{property.Address.Town}}
    h3(ng-show='property.error') Error fetching property details
    h3(ng-show='property.loading') Fetching property details
    p(ng-show='loading("viewings") && !property.viewings.length') Loading Feedback
    p(ng-show='!loading("viewings") && !property.viewings.length') No Feedback
    p(ng-show='!loading("viewings") && !viewings.length') No viewings completed
    table(ng-show='viewings.length').table.table-responsive
      thead
        tr
          th(ng-click='setSort("MainContact.sortname")', ng-class='getSortClass("MainContact.sortname")') Main contact
          th(ng-click='setSort("date")', ng-class='getSortClass("date")') Date
          th(ng-click='setSort("date")', ng-class='getSortClass("date")') Time
          th Accompanied by
          th.squish Viewing notes
          th.squish(ng-click='setSort("Feedback.length")', ng-class='getSortClass("Feedback.length")') Feedback status
      tbody(ng-repeat='viewing in viewings = ( property.viewings | filter:{EventStatus:{SystemName:"!Cancelled"}} ) | orderBy: sort') 
        tr(ng-click='toggle(viewing)', ng-class='{open:viewing.open, "has-feedback":viewing.Feedback.length||viewing.Notes.length}')
          td
            .person
              img(gravatar-src='viewing.MainContact.email') 
              span {{viewing.MainContact.name}}
          td.half
            label Date
            nobr {{viewing.StartDate | date:'mediumDate'}}
          td.half
            label Time
            nobr {{viewing.StartDate | date:'shortTime'}}
          td
            label Accompanied by
            .person(ng-repeat='person in viewing.Negotiators') 
              img(gravatar-src='person.PrimaryEmail.Value') 
              span {{person.ContactName}}
            .person(ng-repeat='person in viewing.AccompaniedBy')  
              img(gravatar-src='person.email') 
              span {{person.name}}
          td.half
            span(ng-show='viewing.Notes.length')
              img.notes(src='public/img/icons/feedback-notes.png')
          td.status.squish.half 
            div(ng-show='viewing.Feedback.length')
              div(ng-hide='viewing.open') View Feedback
              div(ng-show='viewing.open') Close Feedback
            div(ng-hide='viewing.Feedback.length') Awaiting feedback
        tr.popout
          td(colspan='6')
            .feedback-container(ng-show='viewing.open')
              .viewing-feedback(ng-show='viewing.Feedback.length')
                .feedback-header
                  .feedback-title 
                    h4 Viewing Feedback
                .feedback-list
                  .feedback-item(ng-repeat='feedback in viewing.Feedback')
                    h6 {{feedback.DateTime | date:'mediumDate'}}, {{feedback.DateTime | date:'shortTime'}}
                    p {{feedback.Feedback}}
              .feedback-request(ng-show='viewing.Notes.length')
                .feedback-header
                  .feedback-title 
                    h4 Feedback Request
                .feedback-list
                  .feedback-item(ng-repeat='note in viewing.Notes')
                    h6 {{note.DateAdded | date:'mediumDate'}}, {{note.DateAdded | date:'shortTime'}}
                    p {{note.Note}}
    h3(ng-show='!loading("properties") && !getProperties().length') No properties to show