.viewings
  a(href='/').backlink 
    i.fa.fa-long-arrow-left(aria-hidden='true')  
    |  Back to Dashboard
  h2 
    i.vs-iconstaff
    |  Viewings
  div(ng-repeat='property in getProperties()' ng-hide='!property.details.Address') 
    h3(ng-hide='property.error || property.loading') {{property.Address.Number}} {{property.Address.Street }}, {{property.Address.Locality }}, {{property.Address.Town}}
    h3(ng-show='property.error') Error fetching property details
    h3(ng-show='property.loading') Fetching property details
    p(ng-show='loading("viewings") && !property.viewings.length') Loading Viewings
    p(ng-show='!loading("viewings") && !property.viewings.length') No viewings
    table(ng-show='property.viewings.length').table.table-responsive
      thead
        tr
          th(ng-click='setSort("MainContact.sortname")', ng-class='getSortClass("MainContact.sortname")') Main contact
          th(ng-click='setSort("date")', ng-class='getSortClass("date")') Date
          th(ng-click='setSort("date")', ng-class='getSortClass("date")') Time
          th(ng-click='setSort("EventStatus.Name")', ng-class='getSortClass("EventStatus.Name")') Viewing status
          th Accompanied by
      tbody(ng-repeat='viewing in property.viewings | orderBy: sort') 
        tr
          td 
            label Main contact
            .person
              img(gravatar-src='viewing.MainContact.email') 
              span {{viewing.MainContact.name}}
          td.half 
            label Date
            nobr {{viewing.StartDate | date:'mediumDate'}}
          td.half 
            label Time
            nobr {{viewing.StartDate | date:'shortTime'}}
          td 
            label Viewing status
            | {{viewing.EventStatus.Name}}
          td
            label Accompanied by
            .person(ng-repeat='person in viewing.Negotiators') 
              img(gravatar-src='person.PrimaryEmail.Value') 
              span {{person.ContactName}}
            .person(ng-repeat='person in viewing.AccompaniedBy')  
              img(gravatar-src='person.email') 
              span {{person.name}}
  h3(ng-show='!loading("properties") && !getProperties().length') No properties to show