.offers
  a(href='/').backlink 
    i.fa.fa-long-arrow-left(aria-hidden='true')  
    |  Back to Dashboard
  h2 
    i.offer
    |  Offers
  p(ng-show='loading("offers") && !getOffers().length') Loading offers
  h3(ng-show='!loading("offers") && !getOffers().length') 
    img(src='public/img/vs-man.png')
    |  You have not yet received any offers
  table(ng-show='getOffers().length').table.table-responsive
    thead
      tr
        th(ng-click='setSort("Property.Address.Street")', ng-class='getSortClass("Property.Address.Street")') Property
        th(ng-click='setSort("ApplicantGroup.PrimaryMember.ContactName")', ng-class='getSortClass("ApplicantGroup.PrimaryMember.ContactName")') Applicant
        th(ng-click='setSort("Value")', ng-class='getSortClass("Value")') Amount
        th(ng-click='setSort("date")', ng-class='getSortClass("date")') Date
        th(ng-click='setSort("date")', ng-class='getSortClass("date")') Time
        th(ng-click='setSort("Response.ResponseType.Name")', ng-class='getSortClass("Response.ResponseType.Name")') Status
    tbody(ng-repeat='offer in getOffers() | orderBy:sort', ng-hide='!property.details.Address') 
      tr
        td {{offer.Property.Address.Number}} {{offer.Property.Address.Street}}, {{offer.Property.Address.Locality}}, {{offer.Property.Address.Town}}
        td {{offer.ApplicantGroup.PrimaryMember.ContactName}}
        td {{offer.Value | currency:'£':0}}
        td 
          nobr {{offer.DateTime | date:'mediumDate'}}
        td 
          nobr {{offer.DateTime | date:'shortTime'}}
        td {{offer.Response.ResponseType.Name}}