.offers
  a(href='/').backlink 
    i.fa.fa-long-arrow-left(aria-hidden='true')  
    |  Back to Dashboard
  h2 
    i.offer
    |  Offers
  p(ng-show='loading("offers") && !getOffers().length') Loading offers
  h3(ng-show='!loading("offers") && !getOffers().length') 
    img(src='public/img/vs-man.png')
    |  You have not yet received any offers
  table(ng-show='getOffers().length').table.table-responsive
    thead
      tr
        th(ng-click='setSort("Property.Address.Street")', ng-class='getSortClass("Property.Address.Street")') Property
        th(ng-click='setSort("ApplicantGroup.PrimaryMember.ContactName")', ng-class='getSortClass("ApplicantGroup.PrimaryMember.ContactName")') Applicant
        th(ng-click='setSort("Value")', ng-class='getSortClass("Value")') Amount
        th(ng-click='setSort("date")', ng-class='getSortClass("date")') Date
        th(ng-click='setSort("date")', ng-class='getSortClass("date")') Time
        th(ng-click='setSort("Response.ResponseType.Name")', ng-class='getSortClass("Response.ResponseType.Name")') Status
        th.squish(ng-click='setSort("Notes.length")', ng-class='getSortClass("Notes.length")') Notes
    tbody(ng-repeat='offer in getOffers() | orderBy:sort') 
      tr(ng-click='toggle(offer)', ng-class='{open:offer.open, "has-notes":offer.Notes.length}')
        td {{offer.Property.Address.Number}} {{offer.Property.Address.Street}}, {{offer.Property.Address.Locality}}, {{offer.Property.Address.Town}}
        td 
          label Applicant
          | {{offer.ApplicantGroup.PrimaryMember.ContactName}}
        td 
          label Amount
          | {{offer.Value | currency:'£':0}}
        td.half
          label Date
          nobr {{offer.DateTime | date:'mediumDate'}}
        td.half
          label Time
          nobr {{offer.DateTime | date:'shortTime'}}
        td 
          label Status
          | {{offer.Response.ResponseType.Name}}
        td.status.squish
          div(ng-show='offer.Notes.length')
            div(ng-hide='offer.open') View Notes
            div(ng-show='offer.open') Close Notes
          div(ng-hide='offer.Notes.length') No Notes
      tr.popout
        td(colspan='7')
          .notes-container(ng-show='offer.open')
            .offer-notes(ng-show='offer.Notes.length')
              .notes-header
                .notes-title 
                  h4 Notes about this offer
              .notes-list
                .notes-item(ng-repeat='note in offer.Notes')
                  h6 {{note.DateAdded | date:'mediumDate'}}, {{note.DateAdded | date:'shortTime'}}
                  p {{note.Note}}
        