      <form id="salesearch" name="form" ng-submit="processForm()">
        <input type="hidden" value="" id="branch" name="BranchIdList" ng-model="formData.branch"/>
        <input type="hidden" value="12" id="PageSize" name="PageSize" ng-model="formData.pagesize"/>
        <div class="form-group fullsearchholder">
           <h4>Refine Your Search...</h4>
           <div class="h-list" >
                <ul>
                <li>               
                <input id="radio1" type="radio" name="RoleType" ng-model="formData.RoleType" value="Selling" ng-init="formData.RoleType=formData.RoleType===undefined?'Selling':formData.RoleType" />
                <label for="radio1" class="{{ formData.RoleType }}">Buying</label>
                </li>
                <li>
                <input id="radio2" type="radio" name="RoleType" ng-model="formData.RoleType" value="Letting" />
                <label for="radio2" class="{{ formData.RoleType }}">Renting</label>
                </li>
                </ul>
            </div>
           
            <div class="list search-box">
                <label>Post Code or Area Name <span class="right"></span></label>
                <input type="text" ng-model="formData.Search" placeholder="e.g. 'Urmston', 'M32', or 'M41 5AA'"/>
            </div>
            <div class="selling-price" ng-show="formData.RoleType == 'Selling'">
                <div class="list min">
                      <label>
                        Minimium Price
                      </label>

                      <select name="minprice" id="minprice" ng-model="formData.MinimumPrice" class="form-control">
                        <option value="0">No Minimum</option>
                        <option value="50000">£50,000</option>
                        <option value="100000">£100,000</option>
                        <option value="150000">£150,000</option>
                        <option value="200000">£200,000</option>
                        <option value="250000">£250,000</option>
                        <option value="300000">£300,000</option>
                        <option value="350000">£350,000</option>
                        <option value="400000">£400,000</option>
                        <option value="500000">£500,000</option>
                        <option value="750000">£750,000</option>
                        <option value="10000000">£1,000,000</option>
                      </select>
                </div>
                <div class="list max">
                      <label>
                        Maximum Price
                      </label>

                      <select name="maxprice" id="maxprice" ng-model="formData.MaximumPrice" class="form-control">
                        <option value="0">No Maximum</option>
                        <option value="50000">£50,000</option>
                        <option value="100000">£100,000</option>
                        <option value="150000">£150,000</option>
                        <option value="200000">£200,000</option>
                        <option value="250000">£250,000</option>
                        <option value="300000">£300,000</option>
                        <option value="350000">£350,000</option>
                        <option value="400000">£400,000</option>
                        <option value="500000">£500,000</option>
                        <option value="750000">£750,000</option>
                        <option value="1000000">£1,000,000</option>
                        <option value="10000000">+£1,000,000</option>
                      </select>
                </div>
            </div>
            <div class="letting-price" ng-show="formData.RoleType == 'Letting'">
                <div class="list min">
                      <label>
                        Minimum Rent
                      </label>

                      <select name="minprice" id="minprice" ng-model="formData.MinimumPrice" class="form-control">
                        <option value="0">No Minimum</option>
                        <option value="100">£100</option>
                        <option value="200">£200</option>
                        <option value="300">£300</option>
                        <option value="400">£400</option>
                        <option value="500">£500</option>
                        <option value="600">£600</option>
                        <option value="700">£700</option>
                        <option value="800">£800</option>
                        <option value="900">£900</option>
                        <option value="1000">£1000</option>
                        <option value="1100">£1100</option>
                        <option value="1200">£1200</option>
                        <option value="1300">£1300</option>
                        <option value="1400">£1400</option>
                        <option value="1500">£1500</option>
                        <option value="1000000">£1500+</option>
                      </select>
                </div>
                <div class="list max">
                      <label>
                        Maximum Rent
                      </label>

                      <select name="maxprice" id="maxprice" ng-model="formData.MaximumPrice" class="form-control">
                        <option value="0">No Maximum</option>
                        <option value="100">£100</option>
                        <option value="200">£200</option>
                        <option value="300">£300</option>
                        <option value="400">£400</option>
                        <option value="500">£500</option>
                        <option value="600">£600</option>
                        <option value="700">£700</option>
                        <option value="800">£800</option>
                        <option value="900">£900</option>
                        <option value="1000">£1000</option>
                        <option value="1100">£1100</option>
                        <option value="1200">£1200</option>
                        <option value="1300">£1300</option>
                        <option value="1400">£1400</option>
                        <option value="1000000">£1500+</option>
                      </select>
                </div>
            </div>
            <div class="list beds">
                  <label>
                    Minimum Bedrooms
                  </label>

                  <select name="bedrooms" id="bedrooms" ng-model="formData.MinimumBedrooms" class="form-control">
                    <option value="">No Minimum</option>
                    <option value="1">1 Bedroom</option>
                    <option value="2">2 Bedrooms</option>
                    <option value="3">3 Bedrooms</option>
                    <option value="4">4 Bedrooms</option>
                    <option value="5">5+ Bedrooms</option>
                  </select>
            </div>
            <div class="list {{ formData.RoleType }}">
                  <label>
                    Show STC
                  </label>

                  <input type="checkbox" ng-model="formData.IncludeStc" ng-init="formData.IncludeStc=true">
            </div>
            <div class="list">
                  <button type="submit" class="btn btn-default" id="listsearch"><i class="fa fa-search"></i> Search</button>
            </div>
        </div>
      </form>
