<ul class="mob-menu">
	<li><a ui-sref="overview(getPropertyUrlData())" class="medium grey button" data-toggle="tooltip" title="Overview">
	        <i class="fa fa-file-text-o fa-fw"></i>
	    	<span>Back to Property Overview</span></a></li>
</ul>

<div class="container">
<h2>Council Tax</h2>

<table class="table table-striped">
    <tbody>
    	<tr class="orange-bg">
    	<th>Band</th>
    	<th>Trafford Council</th>
    	<th>Manchester City Council</th>
    	<th>National Average</th>
    	</tr>
    	<tr>
    	<td>A</td>
    	<td>£868.14</td>
    	<td>£919.49</td>
    	<td>£962.67</td>
    	</tr>
    	<tr>
    	<td>B</td>
    	<td>£1012.83</td>
    	<td>£1072.75</td>
    	<td>£1123.11</td>
    	</tr>
    	<tr>
    	<td>C</td>
    	<td>£1157.52</td>
    	<td>£1126.00</td>
    	<td>£1283.56</td>
    	</tr>
    	<tr>
    	<td>D</td>
    	<td>£1302.21</td>
    	<td>£1379.24</td>
    	<td>£1444</td>
    	</tr>
    	<tr>
    	<td>E</td>
    	<td>£1591.59</td>
    	<td>£1685.73</td>
    	<td>£1764.88</td>
    	</tr>
    	<tr>
    	<td>F</td>
    	<td>£1880.97</td>
    	<td>£1992.24</td>
    	<td>£2085.77</td>
    	</tr>
    	<tr>
    	<td>G</td>
    	<td>£2170.35</td>
    	<td>£2298.73</td>
    	<td>£2406.66</td>
    	</tr>
    	<tr>
    	<td>H</td>
    	<td>£2604.42</td>
    	<td>£2758.48</td>
    	<td>£2887.99</td>
    	</tr>
	</tbody>
</table>

</div>
