.header
  section.container
    .branding
      a.logo(href="/")
        img.logo(src="public/img/VitalSpaceLogo-2016.svg")
    .user
      a(href='/api/logout', target='_self') {{getDezrezUser().dezrez.ContactName}} 
        img.logo(src="public/img/icons/logout.svg")
    nav.main-menu
      ul.menu
        li(ng-class="{selected:isSelected('dashboard')}")
          a(href='/') 
            span Dashboard
        li(ng-class="{selected:propertyPage||isSelected('properties')}")
          a(href='/property') 
            span Property
        li(ng-class="{selected:isSelected('viewings')}")
          a(href='/viewings') 
            span Viewings
        li(ng-class="{selected:isSelected('feedback')}")
          a(href='/feedback') 
            span Feedback
        li(ng-class="{selected:isSelected('offers')}")
          a(href='/offers') 
            span Offers