.properties
  h2 My property
  .property(ng-repeat='property in getProperties()')
    a(href='/{{property.id}}/overview', ng-hide='property.error || property.loading')
      .property-item
        .property-image(style='background-image: url({{property.details.Images[0].Url}})')
        .property-details
          h2 {{property.Address.Number}} {{property.Address.Street }}, {{property.Address.Town}}
          h3 {{property.Price.PriceValue | currency:'£':0}}
          p(ng-show='!loading("all") || property.viewings.length || property.offers.length')
            a(href='/viewings') Viewings: {{property.viewings.length}}
            | , 
            a(href='/feedback') Feedback: {{getFeedbackCount(property)}}
            | , 
            a(href='/offers') Offers: {{property.offers.length}}
        .property-controls
          a(href='') View Details
          
    h3(ng-show='property.error') Error fetching property details
    h3(ng-show='property.loading') Fetching property details
  h3(ng-show='!loading("properties") && !getProperties().length') No properties to show