.login(ng-hide='getUser()')
  .login-holder
    .login-form
      p Login or Sign Up
      form(name='loginForm', novalidate, ng-submit='login()')
        div
          input(type='email', name='email', required, ng-model='email', placeholder='Email address')
          span.error(ng-show='submitted && loginForm.email.$error.email') Please use a valid email address
          span.error(ng-show='submitted && loginForm.email.$error.required') Please use a valid email address
          br
          input(type='password', name='password', required, ng-model='password', placeholder='Password')
          small.error(ng-show='submitted && loginForm.password.$error.required') A password is required
        div
          .error {{message}}
          input.button(type='submit', value='Login')
          | &nbsp;
          input.button.white(type='button', ng-click='signup()', value='Sign Up')
        div
          p or use one of these...
        .social
          a.button(href='/api/twitter', target='_self')
            i.icomoon-twitter
            | &nbsp;Twitter
          | &nbsp;
          a.button(href='/api/facebook', target='_self')
            i.icomoon-facebook
            | &nbsp;Facebook
