.property-status-bar
  .property-status
    .item
      label Address:
      h4 {{property.details.Address.Number}} {{property.details.Address.Street }}, {{property.details.Address.Town}}
    .item
      label Property Status
      h4 {{property.details.RoleStatus.DisplayName}}
    .item
      label Date Instructed
      h4 {{property.details.DateInstructed | date:'mediumDate'}}
  .property-marketing
    .item
      label Mail outs:
      h4 {{property.mailouts}}
    .item
      label Viewings:
      h4 {{property.viewings.length}}