.conveyancing-page
   a(href='/').backlink 
    i.fa.fa-long-arrow-left(aria-hidden='true')  
    |  Back to Dashboard
   h2 Conveyancing solicitors quotes
  .row
    .col-sm-6
      p
        | Are you are looking for a conveyancing solicitor in Urmston or Stretford and just don’t know where to start?
      p
        | Simply use our quick comparison tool and within minutes you will have a selection of local conveyancers to choose from. Whether it be a sale or purchase of a house or even both, we can help.
      p
        | All quotes are instant, completely free and no-obligation. Simply enter your details into the conveyancing quote calculator below then compare from our handpicked conveyancing panel in order of price and location and lender if required.
      p
        | It’s important to budget for conveyancing when buying or selling a house. Part of that budget will be for your solicitor or conveyancer to handle the legalities. Be sure to get a fixed fee, all inclusive quote.
    .col-sm-6
      #whytPlaceholder